body {
    display: flex;
}

#root {
    display: flex;
}

table {
    border-collapse: collapse;
    margin-right: 20px;
}

table td {
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid;
}

table td:nth-child(3n):not(:last-child) {
    border-right: 3px solid;
}

table tr:nth-child(3n):not(:last-child) {
    border-bottom: 3px solid;
}

table td > * {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 2em;
    min-width: 2em;
}